.app-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.ipod-container {
  width: 340px;
  height: 535px;
  border-radius: 30px;
  position: relative;
  top: 36px;
  background-image: url("../../assets/img/ipod.jpg");
  background-position: center -117px;
}
